@import url(./__logo-zone/resources__logo-zone.css);
@import url(./__logo/resources__logo.css);
@import url(./__section-subtitle/resources__section-subtitle.css);
.resources {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 217px;
    padding-top: 100px;
}
