@import url(./_place/logo_place_footer.css);
@import url(./_place/logo_place_header.css);
.logo {
    width: 183px;
    height: 32px;
    background-image: url(../../images/logo_place_header.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
}
