.header__title {
    width: 730px;
    display: flex;
    align-self: center;
    z-index: 3;
    margin-left: 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
